# Data Model: `wx_data`

In [1]:
import os
from typing import Optional
from pathlib import Path
from datetime import datetime
from joblib import cpu_count, Parallel, delayed
import pandas as pd
from sqlmodel import SQLModel, Field, create_engine

# functions
def read_wxdata(FILE: Path) -> pd.DataFrame:
    """
    Read the wx_data.
    Input:
    - FILENAME: Path (from pathlib) object of the path of a wx_data file

    Output:
    - DF: dataframe of a wx_data
    """
    cols = ["date", "tmax", "tmin", "precip"]
    dtyp  = (str, int, int, int)
    dtypes  = {k:v for k, v in zip(cols, dtyp)}
    DF = pd.read_table(FILE,
                       delimiter = "\t",
                       header = None,
                       names  = cols, 
                       dtype  = dtypes)
    # Make time datetime obj
    DF["date"] = pd.to_datetime(DF["date"])
    # Assign a column for the site ID from the filename
    DF = DF.assign(site_id = FILE.stem)
    # Sanitize the null values
    DF = DF.replace(-9999, pd.NA)
    # print(df[df.isna().any(axis = 1)].head(3))
    return DF

In [2]:
dir_wxdata = Path("/code/wx_data/")
# Let's work on one file(
f_wxdata      = [f for f in dir_wxdata.glob("*")][0]
df = read_wxdata(f_wxdata)
print(df.head(3))

        date  tmax  tmin precip      site_id
0 1985-01-01   -22  -128     94  USC00110072
1 1985-01-02  -122  -217      0  USC00110072
2 1985-01-03  -106  -244      0  USC00110072

In [3]:
%%time
dfall = Parallel(n_jobs = cpu_count() - 1)(delayed(read_wxdata)(f) for f in dir_wxdata.glob("USC*.txt"))
dfall = pd.concat(dfall)

CPU times: user 598 ms, sys: 208 ms, total: 806 ms
Wall time: 3.46 s

## Create Data Model

In [4]:
# models.py
class WxTable(SQLModel, table = True):
    id: Optional[int] = Field(default = None, primary_key = True)
    site_id: str
    date:    datetime
    tmax:    int | None
    tmin:    int | None
    precip:  int | None

# app.py
# Create db engine
engine = create_engine(os.environ["DATABASE_URL"], echo = True)
SQLModel.metadata.create_all(engine)
# if we suffer a collation mismatch, it might due to previously using a different postgres and not deleting the volume.
# run the code below:
# > podman-compose down
# > podman volume ls # to find the name of the volume
# > podman volume rm <name-of-volume>
# > podman-compose up -d

2026-01-19 02:52:15,276 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2026-01-19 02:52:15,278 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-19 02:52:15,281 INFO sqlalchemy.engine.Engine select current_schema()
2026-01-19 02:52:15,283 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-19 02:52:15,287 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2026-01-19 02:52:15,288 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-19 02:52:15,291 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-19 02:52:15,297 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2026-01-19 02:52:15,298 INFO sqlalchemy.engine.Engine [generated in 0.00103s] {'table_name': 'wxtable', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2026-01-19 02:52:15,302 INFO sqlalchemy.engine.Engine
CREATE TABLE wxtable (
	id SERIAL NOT NULL,
	site_id VARCHAR NOT NULL,
	date TIMESTAMP WITHOUT TIME ZONE NOT NULL,
	tmax INTEGER,
	tmin INTEGER,
	precip INTEGER,
	PRIMARY KEY (id)
)


2026-01-19 02:52:15,303 INFO sqlalchemy.engine.Engine [no key 0.00082s] {}
2026-01-19 02:52:15,307 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
# Verify database
from sqlalchemy import inspect
inspector = inspect(engine)
inspector.has_table("wxtable")

2026-01-19 02:54:58,387 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-19 02:54:58,390 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2026-01-19 02:54:58,394 INFO sqlalchemy.engine.Engine [cached since 163.1s ago] {'table_name': 'wxtable', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2026-01-19 02:54:58,398 INFO sqlalchemy.engine.Engine ROLLBACK

True

## Using scripts

In [1]:
# SQLModel.metadata.clear()
# SQLModel.metadata.drop_all(engine)
from models import main
main()

2026-01-19 04:30:44,232 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2026-01-19 04:30:44,233 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-19 04:30:44,234 INFO sqlalchemy.engine.Engine select current_schema()
2026-01-19 04:30:44,235 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-19 04:30:44,237 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2026-01-19 04:30:44,238 INFO sqlalchemy.engine.Engine [raw sql] {}
2026-01-19 04:30:44,240 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-19 04:30:44,245 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2026-01-19 04:30:44,246 INFO sqlalchemy.engine.Engine [generated in 0.00118s] {'table_name': 'wxtable', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2026-01-19 04:30:44,249 INFO sqlalchemy.engine.Engine COMMIT
2026-01-19 04:30:44,749 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-19 04:30:44,847 INFO sqlalchemy.engine.Engine INSERT INTO wxtable (site_id, date, tmax, tmin, precip) SELECT p0::VARCHAR, p1::TIMESTAMP WITHOUT TIME ZONE, p2::INTEGER, p3::INTEGER, p4::INTEGER FROM (VALUES (%(site_id__0)s, %(date__0)s, %(tmax__0)s, %(tmin__0)s, %(precip__0)s, 0), (%(site_id__1)s ... 86256 characters truncated ... _sen(p0, p1, p2, p3, p4, sen_counter) ORDER BY sen_counter RETURNING wxtable.id, wxtable.id AS id__1
2026-01-19 04:30:44,848 INFO sqlalchemy.engine.Engine [generated in 0.01961s (insertmanyvalues) 1/11 (ordered)] {'site_id__0': 'USC00110072', 'tmin__0': -128, 'date__0': Timestamp('1985-01-01 00:00:00'), 'tmax__0': -22, 'precip__0': 94, 'site_id__1': 'USC00110072', 'tmin__1': -217, 'date__1': Timestamp('1985-01-02 00:00:00'), 'tmax__1': -122, 'precip__1': 0, 'site_id__2': 'USC00110072', 'tmin__2': -244, 'date__2': Timestamp('1985-01-03 00:00:00'), 'tmax__2': -106, 'precip__2': 0, 'site_id__3': 'USC00110072', 'tmin__3': -189, 'date__3': Timestamp('1985-01-04 00:00:00'), 'tmax__3': -56, 'precip__3': 0, 'site_id__4': 'USC00110072', 'tmin__4': -78, 'date__4': Timestamp('1985-01-05 00:00:00'), 'tmax__4': 11, 'precip__4': 0, 'site_id__5': 'USC00110072', 'tmin__5': -50, 'date__5': Timestamp('1985-01-06 00:00:00'), 'tmax__5': 28, 'precip__5': 0, 'site_id__6': 'USC00110072', 'tmin__6': -11, 'date__6': Timestamp('1985-01-07 00:00:00'), 'tmax__6': 22, 'precip__6': 0, 'site_id__7': 'USC00110072', 'tmin__7': -106, 'date__7': Timestamp('1985-01-08 00:00:00'), 'tmax__7': -6, 'precip__7': 0, 'site_id__8': 'USC00110072', 'tmin__8': -100, 'date__8': Timestamp('1985-01-09 00:00:00'), 'tmax__8': -22, 'precip__8': 0, 'site_id__9': 'USC00110072', 'tmin__9': -106, 'date__9': Timestamp('1985-01-10 00:00:00'), 'tmax__9': -39, 'precip__9': 15 ... 4900 parameters truncated ... 'site_id__990': 'USC00110072', 'tmin__990': -6, 'date__990': Timestamp('1987-12-19 00:00:00'), 'tmax__990': 17, 'precip__990': 0, 'site_id__991': 'USC00110072', 'tmin__991': -22, 'date__991': Timestamp('1987-12-20 00:00:00'), 'tmax__991': 22, 'precip__991': 361, 'site_id__992': 'USC00110072', 'tmin__992': -56, 'date__992': Timestamp('1987-12-21 00:00:00'), 'tmax__992': 39, 'precip__992': 0, 'site_id__993': 'USC00110072', 'tmin__993': -6, 'date__993': Timestamp('1987-12-22 00:00:00'), 'tmax__993': 33, 'precip__993': 0, 'site_id__994': 'USC00110072', 'tmin__994': -17, 'date__994': Timestamp('1987-12-23 00:00:00'), 'tmax__994': 50, 'precip__994': 0, 'site_id__995': 'USC00110072', 'tmin__995': -17, 'date__995': Timestamp('1987-12-24 00:00:00'), 'tmax__995': 67, 'precip__995': 0, 'site_id__996': 'USC00110072', 'tmin__996': -33, 'date__996': Timestamp('1987-12-25 00:00:00'), 'tmax__996': 6, 'precip__996': 0, 'site_id__997': 'USC00110072', 'tmin__997': -61, 'date__997': Timestamp('1987-12-26 00:00:00'), 'tmax__997': -22, 'precip__997': 0, 'site_id__998': 'USC00110072', 'tmin__998': -50, 'date__998': Timestamp('1987-12-27 00:00:00'), 'tmax__998': 6, 'precip__998': 109, 'site_id__999': 'USC00110072', 'tmin__999': -50, 'date__999': Timestamp('1987-12-28 00:00:00'), 'tmax__999': 6, 'precip__999': 122}
2026-01-19 04:30:44,888 INFO sqlalchemy.engine.Engine INSERT INTO wxtable (site_id, date, tmax, tmin, precip) SELECT p0::VARCHAR, p1::TIMESTAMP WITHOUT TIME ZONE, p2::INTEGER, p3::INTEGER, p4::INTEGER FROM (VALUES (%(site_id__0)s, %(date__0)s, %(tmax__0)s, %(tmin__0)s, %(precip__0)s, 0), (%(site_id__1)s ... 86256 characters truncated ... _sen(p0, p1, p2, p3, p4, sen_counter) ORDER BY sen_counter RETURNING wxtable.id, wxtable.id AS id__1
2026-01-19 04:30:44,889 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/11 (ordered)] {'site_id__0': 'USC00110072', 'tmin__0': -106, 'date__0': Timestamp('1987-12-29 00:00:00'), 'tmax__0': -6, 'precip__0': 0, 'site_id__1': 'USC00110072', 'tmin__1': -106, 'date__1': Timestamp('1987-12-30 00:00:00'), 'tmax__1': 28, 'precip__1': 0, 'site_id__2': 'USC00110072', 'tmin__2': -89, 'date__2': Timestamp('1987-12-31 00:00:00'), 'tmax__2': 22, 'precip__2': 0, 'site_id__3': 'USC00110072', 'tmin__3': -172, 'date__3': Timestamp('1988-01-01 00:00:00'), 'tmax__3': -94, 'precip__3': 0, 'site_id__4': 'USC00110072', 'tmin__4': -128, 'date__4': Timestamp('1988-01-02 00:00:00'), 'tmax__4': 11, 'precip__4': 0, 'site_id__5': 'USC00110072', 'tmin__5': -67, 'date__5': Timestamp('1988-01-03 00:00:00'), 'tmax__5': 6, 'precip__5': 0, 'site_id__6': 'USC00110072', 'tmin__6': -194, 'date__6': Timestamp('1988-01-04 00:00:00'), 'tmax__6': -56, 'precip__6': 0, 'site_id__7': 'USC00110072', 'tmin__7': -167, 'date__7': Timestamp('1988-01-05 00:00:00'), 'tmax__7': -222, 'precip__7': 0, 'site_id__8': 'USC00110072', 'tmin__8': -244, 'date__8': Timestamp('1988-01-06 00:00:00'), 'tmax__8': -172, 'precip__8': 0, 'site_id__9': 'USC00110072', 'tmin__9': -211, 'date__9': Timestamp('1988-01-07 00:00:00'), 'tmax__9': -111, 'precip__9': 0 ... 4900 parameters truncated ... 'site_id__990': 'USC00110072', 'tmin__990': 133, 'date__990': Timestamp('1990-09-14 00:00:00'), 'tmax__990': 272, 'precip__990': 0, 'site_id__991': 'USC00110072', 'tmin__991': 83, 'date__991': Timestamp('1990-09-15 00:00:00'), 'tmax__991': 250, 'precip__991': 0, 'site_id__992': 'USC00110072', 'tmin__992': 89, 'date__992': Timestamp('1990-09-16 00:00:00'), 'tmax__992': 233, 'precip__992': 0, 'site_id__993': 'USC00110072', 'tmin__993': 61, 'date__993': Timestamp('1990-09-17 00:00:00'), 'tmax__993': 194, 'precip__993': 0, 'site_id__994': 'USC00110072', 'tmin__994': 106, 'date__994': Timestamp('1990-09-18 00:00:00'), 'tmax__994': 178, 'precip__994': 76, 'site_id__995': 'USC00110072', 'tmin__995': 128, 'date__995': Timestamp('1990-09-19 00:00:00'), 'tmax__995': 161, 'precip__995': 0, 'site_id__996': 'USC00110072', 'tmin__996': 72, 'date__996': Timestamp('1990-09-20 00:00:00'), 'tmax__996': 222, 'precip__996': 64, 'site_id__997': 'USC00110072', 'tmin__997': 167, 'date__997': Timestamp('1990-09-21 00:00:00'), 'tmax__997': 217, 'precip__997': 140, 'site_id__998': 'USC00110072', 'tmin__998': 89, 'date__998': Timestamp('1990-09-22 00:00:00'), 'tmax__998': 211, 'precip__998': 0, 'site_id__999': 'USC00110072', 'tmin__999': 67, 'date__999': Timestamp('1990-09-23 00:00:00'), 'tmax__999': 156, 'precip__999': 0}
2026-01-19 04:30:44,918 INFO sqlalchemy.engine.Engine INSERT INTO wxtable (site_id, date, tmax, tmin, precip) SELECT p0::VARCHAR, p1::TIMESTAMP WITHOUT TIME ZONE, p2::INTEGER, p3::INTEGER, p4::INTEGER FROM (VALUES (%(site_id__0)s, %(date__0)s, %(tmax__0)s, %(tmin__0)s, %(precip__0)s, 0), (%(site_id__1)s ... 86256 characters truncated ... _sen(p0, p1, p2, p3, p4, sen_counter) ORDER BY sen_counter RETURNING wxtable.id, wxtable.id AS id__1
2026-01-19 04:30:44,920 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/11 (ordered)] {'site_id__0': 'USC00110072', 'tmin__0': 33, 'date__0': Timestamp('1990-09-24 00:00:00'), 'tmax__0': 211, 'precip__0': 0, 'site_id__1': 'USC00110072', 'tmin__1': 111, 'date__1': Timestamp('1990-09-25 00:00:00'), 'tmax__1': 283, 'precip__1': 0, 'site_id__2': 'USC00110072', 'tmin__2': 106, 'date__2': Timestamp('1990-09-26 00:00:00'), 'tmax__2': 211, 'precip__2': 0, 'site_id__3': 'USC00110072', 'tmin__3': 94, 'date__3': Timestamp('1990-09-27 00:00:00'), 'tmax__3': 317, 'precip__3': 0, 'site_id__4': 'USC00110072', 'tmin__4': 144, 'date__4': Timestamp('1990-09-28 00:00:00'), 'tmax__4': 272, 'precip__4': 0, 'site_id__5': 'USC00110072', 'tmin__5': 94, 'date__5': Timestamp('1990-09-29 00:00:00'), 'tmax__5': 228, 'precip__5': 0, 'site_id__6': 'USC00110072', 'tmin__6': 72, 'date__6': Timestamp('1990-09-30 00:00:00'), 'tmax__6': 189, 'precip__6': 0, 'site_id__7': 'USC00110072', 'tmin__7': 83, 'date__7': Timestamp('1990-10-01 00:00:00'), 'tmax__7': 222, 'precip__7': 0, 'site_id__8': 'USC00110072', 'tmin__8': 72, 'date__8': Timestamp('1990-10-02 00:00:00'), 'tmax__8': 256, 'precip__8': 0, 'site_id__9': 'USC00110072', 'tmin__9': 133, 'date__9': Timestamp('1990-10-03 00:00:00'), 'tmax__9': 233, 'precip__9': 0 ... 4900 parameters truncated ... 'site_id__990': 'USC00110072', 'tmin__990': 133, 'date__990': Timestamp('1993-06-10 00:00:00'), 'tmax__990': 278, 'precip__990': 0, 'site_id__991': 'USC00110072', 'tmin__991': 156, 'date__991': Timestamp('1993-06-11 00:00:00'), 'tmax__991': 278, 'precip__991': 0, 'site_id__992': 'USC00110072', 'tmin__992': 161, 'date__992': Timestamp('1993-06-12 00:00:00'), 'tmax__992': 278, 'precip__992': 0, 'site_id__993': 'USC00110072', 'tmin__993': 178, 'date__993': Timestamp('1993-06-13 00:00:00'), 'tmax__993': 261, 'precip__993': 0, 'site_id__994': 'USC00110072', 'tmin__994': 206, 'date__994': Timestamp('1993-06-14 00:00:00'), 'tmax__994': 272, 'precip__994': 0, 'site_id__995': 'USC00110072', 'tmin__995': 128, 'date__995': Timestamp('1993-06-15 00:00:00'), 'tmax__995': 222, 'precip__995': 0, 'site_id__996': 'USC00110072', 'tmin__996': 128, 'date__996': Timestamp('1993-06-16 00:00:00'), 'tmax__996': 267, 'precip__996': 0, 'site_id__997': 'USC00110072', 'tmin__997': 194, 'date__997': Timestamp('1993-06-17 00:00:00'), 'tmax__997': 317, 'precip__997': 0, 'site_id__998': 'USC00110072', 'tmin__998': 194, 'date__998': Timestamp('1993-06-18 00:00:00'), 'tmax__998': 294, 'precip__998': 13, 'site_id__999': 'USC00110072', 'tmin__999': 200, 'date__999': Timestamp('1993-06-19 00:00:00'), 'tmax__999': 278, 'precip__999': 419}
2026-01-19 04:30:44,946 INFO sqlalchemy.engine.Engine INSERT INTO wxtable (site_id, date, tmax, tmin, precip) SELECT p0::VARCHAR, p1::TIMESTAMP WITHOUT TIME ZONE, p2::INTEGER, p3::INTEGER, p4::INTEGER FROM (VALUES (%(site_id__0)s, %(date__0)s, %(tmax__0)s, %(tmin__0)s, %(precip__0)s, 0), (%(site_id__1)s ... 86256 characters truncated ... _sen(p0, p1, p2, p3, p4, sen_counter) ORDER BY sen_counter RETURNING wxtable.id, wxtable.id AS id__1
2026-01-19 04:30:44,946 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/11 (ordered)] {'site_id__0': 'USC00110072', 'tmin__0': None, 'date__0': Timestamp('1993-06-20 00:00:00'), 'tmax__0': 256, 'precip__0': 0, 'site_id__1': 'USC00110072', 'tmin__1': 161, 'date__1': Timestamp('1993-06-21 00:00:00'), 'tmax__1': 278, 'precip__1': 0, 'site_id__2': 'USC00110072', 'tmin__2': 167, 'date__2': Timestamp('1993-06-22 00:00:00'), 'tmax__2': 294, 'precip__2': 0, 'site_id__3': 'USC00110072', 'tmin__3': 178, 'date__3': Timestamp('1993-06-23 00:00:00'), 'tmax__3': 300, 'precip__3': 0, 'site_id__4': 'USC00110072', 'tmin__4': 183, 'date__4': Timestamp('1993-06-24 00:00:00'), 'tmax__4': 283, 'precip__4': 406, 'site_id__5': 'USC00110072', 'tmin__5': 172, 'date__5': Timestamp('1993-06-25 00:00:00'), 'tmax__5': 267, 'precip__5': 356, 'site_id__6': 'USC00110072', 'tmin__6': 150, 'date__6': Timestamp('1993-06-26 00:00:00'), 'tmax__6': 283, 'precip__6': 0, 'site_id__7': 'USC00110072', 'tmin__7': 178, 'date__7': Timestamp('1993-06-27 00:00:00'), 'tmax__7': 289, 'precip__7': 102, 'site_id__8': 'USC00110072', 'tmin__8': 194, 'date__8': Timestamp('1993-06-28 00:00:00'), 'tmax__8': 283, 'precip__8': 109, 'site_id__9': 'USC00110072', 'tmin__9': 139, 'date__9': Timestamp('1993-06-29 00:00:00'), 'tmax__9': 267, 'precip__9': 0 ... 4900 parameters truncated ... 'site_id__990': 'USC00110072', 'tmin__990': -56, 'date__990': Timestamp('1996-03-06 00:00:00'), 'tmax__990': 6, 'precip__990': 0, 'site_id__991': 'USC00110072', 'tmin__991': -178, 'date__991': Timestamp('1996-03-07 00:00:00'), 'tmax__991': -56, 'precip__991': 15, 'site_id__992': 'USC00110072', 'tmin__992': -194, 'date__992': Timestamp('1996-03-08 00:00:00'), 'tmax__992': -94, 'precip__992': 0, 'site_id__993': 'USC00110072', 'tmin__993': -194, 'date__993': Timestamp('1996-03-09 00:00:00'), 'tmax__993': -94, 'precip__993': 0, 'site_id__994': 'USC00110072', 'tmin__994': -133, 'date__994': Timestamp('1996-03-10 00:00:00'), 'tmax__994': -33, 'precip__994': 0, 'site_id__995': 'USC00110072', 'tmin__995': -83, 'date__995': Timestamp('1996-03-11 00:00:00'), 'tmax__995': 61, 'precip__995': 0, 'site_id__996': 'USC00110072', 'tmin__996': -22, 'date__996': Timestamp('1996-03-12 00:00:00'), 'tmax__996': 100, 'precip__996': 0, 'site_id__997': 'USC00110072', 'tmin__997': 6, 'date__997': Timestamp('1996-03-13 00:00:00'), 'tmax__997': 139, 'precip__997': 0, 'site_id__998': 'USC00110072', 'tmin__998': 6, 'date__998': Timestamp('1996-03-14 00:00:00'), 'tmax__998': 172, 'precip__998': 0, 'site_id__999': 'USC00110072', 'tmin__999': -17, 'date__999': Timestamp('1996-03-15 00:00:00'), 'tmax__999': 161, 'precip__999': 0}
2026-01-19 04:30:44,971 INFO sqlalchemy.engine.Engine INSERT INTO wxtable (site_id, date, tmax, tmin, precip) SELECT p0::VARCHAR, p1::TIMESTAMP WITHOUT TIME ZONE, p2::INTEGER, p3::INTEGER, p4::INTEGER FROM (VALUES (%(site_id__0)s, %(date__0)s, %(tmax__0)s, %(tmin__0)s, %(precip__0)s, 0), (%(site_id__1)s ... 86256 characters truncated ... _sen(p0, p1, p2, p3, p4, sen_counter) ORDER BY sen_counter RETURNING wxtable.id, wxtable.id AS id__1
2026-01-19 04:30:44,972 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/11 (ordered)] {'site_id__0': 'USC00110072', 'tmin__0': -22, 'date__0': Timestamp('1996-03-16 00:00:00'), 'tmax__0': 122, 'precip__0': 0, 'site_id__1': 'USC00110072', 'tmin__1': -22, 'date__1': Timestamp('1996-03-17 00:00:00'), 'tmax__1': 128, 'precip__1': 0, 'site_id__2': 'USC00110072', 'tmin__2': -39, 'date__2': Timestamp('1996-03-18 00:00:00'), 'tmax__2': 94, 'precip__2': 0, 'site_id__3': 'USC00110072', 'tmin__3': -44, 'date__3': Timestamp('1996-03-19 00:00:00'), 'tmax__3': 89, 'precip__3': 0, 'site_id__4': 'USC00110072', 'tmin__4': -44, 'date__4': Timestamp('1996-03-20 00:00:00'), 'tmax__4': 17, 'precip__4': 0, 'site_id__5': 'USC00110072', 'tmin__5': -61, 'date__5': Timestamp('1996-03-21 00:00:00'), 'tmax__5': 56, 'precip__5': 0, 'site_id__6': 'USC00110072', 'tmin__6': -61, 'date__6': Timestamp('1996-03-22 00:00:00'), 'tmax__6': 56, 'precip__6': 0, 'site_id__7': 'USC00110072', 'tmin__7': -50, 'date__7': Timestamp('1996-03-23 00:00:00'), 'tmax__7': 83, 'precip__7': 0, 'site_id__8': 'USC00110072', 'tmin__8': -44, 'date__8': Timestamp('1996-03-24 00:00:00'), 'tmax__8': 111, 'precip__8': 0, 'site_id__9': 'USC00110072', 'tmin__9': -61, 'date__9': Timestamp('1996-03-25 00:00:00'), 'tmax__9': 189, 'precip__9': 64 ... 4900 parameters truncated ... 'site_id__990': 'USC00110072', 'tmin__990': -11, 'date__990': Timestamp('1998-12-01 00:00:00'), 'tmax__990': 139, 'precip__990': 0, 'site_id__991': 'USC00110072', 'tmin__991': -11, 'date__991': Timestamp('1998-12-02 00:00:00'), 'tmax__991': 150, 'precip__991': 0, 'site_id__992': 'USC00110072', 'tmin__992': 78, 'date__992': Timestamp('1998-12-03 00:00:00'), 'tmax__992': 150, 'precip__992': 0, 'site_id__993': 'USC00110072', 'tmin__993': 128, 'date__993': Timestamp('1998-12-04 00:00:00'), 'tmax__993': 167, 'precip__993': 0, 'site_id__994': 'USC00110072', 'tmin__994': 111, 'date__994': Timestamp('1998-12-05 00:00:00'), 'tmax__994': 211, 'precip__994': 0, 'site_id__995': 'USC00110072', 'tmin__995': 50, 'date__995': Timestamp('1998-12-06 00:00:00'), 'tmax__995': 211, 'precip__995': 0, 'site_id__996': 'USC00110072', 'tmin__996': -22, 'date__996': Timestamp('1998-12-07 00:00:00'), 'tmax__996': 50, 'precip__996': 318, 'site_id__997': 'USC00110072', 'tmin__997': -56, 'date__997': Timestamp('1998-12-08 00:00:00'), 'tmax__997': 50, 'precip__997': 0, 'site_id__998': 'USC00110072', 'tmin__998': -61, 'date__998': Timestamp('1998-12-09 00:00:00'), 'tmax__998': 67, 'precip__998': 0, 'site_id__999': 'USC00110072', 'tmin__999': -50, 'date__999': Timestamp('1998-12-10 00:00:00'), 'tmax__999': 83, 'precip__999': 0}
2026-01-19 04:30:44,997 INFO sqlalchemy.engine.Engine INSERT INTO wxtable (site_id, date, tmax, tmin, precip) SELECT p0::VARCHAR, p1::TIMESTAMP WITHOUT TIME ZONE, p2::INTEGER, p3::INTEGER, p4::INTEGER FROM (VALUES (%(site_id__0)s, %(date__0)s, %(tmax__0)s, %(tmin__0)s, %(precip__0)s, 0), (%(site_id__1)s ... 86256 characters truncated ... _sen(p0, p1, p2, p3, p4, sen_counter) ORDER BY sen_counter RETURNING wxtable.id, wxtable.id AS id__1
2026-01-19 04:30:44,998 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/11 (ordered)] {'site_id__0': 'USC00110072', 'tmin__0': -67, 'date__0': Timestamp('1998-12-11 00:00:00'), 'tmax__0': 50, 'precip__0': 0, 'site_id__1': 'USC00110072', 'tmin__1': -67, 'date__1': Timestamp('1998-12-12 00:00:00'), 'tmax__1': 89, 'precip__1': 0, 'site_id__2': 'USC00110072', 'tmin__2': -67, 'date__2': Timestamp('1998-12-13 00:00:00'), 'tmax__2': 89, 'precip__2': 0, 'site_id__3': 'USC00110072', 'tmin__3': -50, 'date__3': Timestamp('1998-12-14 00:00:00'), 'tmax__3': 89, 'precip__3': 0, 'site_id__4': 'USC00110072', 'tmin__4': -56, 'date__4': Timestamp('1998-12-15 00:00:00'), 'tmax__4': 106, 'precip__4': 0, 'site_id__5': 'USC00110072', 'tmin__5': -17, 'date__5': Timestamp('1998-12-16 00:00:00'), 'tmax__5': 122, 'precip__5': 0, 'site_id__6': 'USC00110072', 'tmin__6': -33, 'date__6': Timestamp('1998-12-17 00:00:00'), 'tmax__6': 39, 'precip__6': 0, 'site_id__7': 'USC00110072', 'tmin__7': -44, 'date__7': Timestamp('1998-12-18 00:00:00'), 'tmax__7': 39, 'precip__7': 0, 'site_id__8': 'USC00110072', 'tmin__8': -17, 'date__8': Timestamp('1998-12-19 00:00:00'), 'tmax__8': 117, 'precip__8': 0, 'site_id__9': 'USC00110072', 'tmin__9': -50, 'date__9': Timestamp('1998-12-20 00:00:00'), 'tmax__9': -6, 'precip__9': 0 ... 4900 parameters truncated ... 'site_id__990': 'USC00110072', 'tmin__990': 156, 'date__990': Timestamp('2001-08-27 00:00:00'), 'tmax__990': 289, 'precip__990': 0, 'site_id__991': 'USC00110072', 'tmin__991': 156, 'date__991': Timestamp('2001-08-28 00:00:00'), 'tmax__991': 300, 'precip__991': 0, 'site_id__992': 'USC00110072', 'tmin__992': 144, 'date__992': Timestamp('2001-08-29 00:00:00'), 'tmax__992': 300, 'precip__992': 0, 'site_id__993': 'USC00110072', 'tmin__993': 144, 'date__993': Timestamp('2001-08-30 00:00:00'), 'tmax__993': 283, 'precip__993': 0, 'site_id__994': 'USC00110072', 'tmin__994': None, 'date__994': Timestamp('2001-08-31 00:00:00'), 'tmax__994': None, 'precip__994': 64, 'site_id__995': 'USC00110072', 'tmin__995': 128, 'date__995': Timestamp('2001-09-01 00:00:00'), 'tmax__995': 256, 'precip__995': 0, 'site_id__996': 'USC00110072', 'tmin__996': None, 'date__996': Timestamp('2001-09-02 00:00:00'), 'tmax__996': None, 'precip__996': 0, 'site_id__997': 'USC00110072', 'tmin__997': 161, 'date__997': Timestamp('2001-09-03 00:00:00'), 'tmax__997': 272, 'precip__997': 0, 'site_id__998': 'USC00110072', 'tmin__998': 161, 'date__998': Timestamp('2001-09-04 00:00:00'), 'tmax__998': 311, 'precip__998': 0, 'site_id__999': 'USC00110072', 'tmin__999': 139, 'date__999': Timestamp('2001-09-05 00:00:00'), 'tmax__999': 278, 'precip__999': 0}